<div class="contacts-container">
    <div class="head-info">
        <span class="profile-user-pic">
            <img src="https://lh6.googleusercontent.com/-SKWblRH4aq8/AAAAAAAAAAI/AAAAAAAAACM/9GiXxTqnLys/photo.jpg" alt="">
        </span>
        <span></span>
    </div>
    <div class="contacts-list">
        <div class="chat">
            <div class="profile-contact-pic">
                <img src="https://lh6.googleusercontent.com/-SKWblRH4aq8/AAAAAAAAAAI/AAAAAAAAACM/9GiXxTqnLys/photo.jpg" alt="">
            </div>
            <div class="contact-chat">
                <div class="contact-name">Raoul</div>
                <div class="chat-time">18:45</div>
                <div class="message">Este es un mensaje</div>
            </div>
        </div>
        <div class="chat">
            <div class="profile-contact-pic">
                <img src="https://lh6.googleusercontent.com/-SKWblRH4aq8/AAAAAAAAAAI/AAAAAAAAACM/9GiXxTqnLys/photo.jpg" alt="">
            </div>
            <div class="contact-chat">
                <div class="contact-name">Eileen</div>
                <div class="chat-time">13:56</div>
                <div class="message">Este es un mensaje</div>
            </div>
        </div>
        <div class="chat">
            <div class="profile-contact-pic">
                <img src="https://lh6.googleusercontent.com/-SKWblRH4aq8/AAAAAAAAAAI/AAAAAAAAACM/9GiXxTqnLys/photo.jpg" alt="">
            </div>
            <div class="contact-chat">
                <div class="contact-name">Dayana</div>
                <div class="chat-time">7:05</div>
                <div class="message">Este es un mensaje</div>
            </div>
        </div>
        <div class="chat">
            <div class="profile-contact-pic">
                <img src="https://lh6.googleusercontent.com/-SKWblRH4aq8/AAAAAAAAAAI/AAAAAAAAACM/9GiXxTqnLys/photo.jpg" alt="">
            </div>
            <div class="contact-chat">
                <div class="contact-name">Rogelio</div>
                <div class="chat-time">7:04</div>
                <div class="message">Este es un mensaje</div>
            </div>
        </div>
        <div class="chat">
            <div class="profile-contact-pic">
                <img src="https://lh6.googleusercontent.com/-SKWblRH4aq8/AAAAAAAAAAI/AAAAAAAAACM/9GiXxTqnLys/photo.jpg" alt="">
            </div>
            <div class="contact-chat">
                <div class="contact-name">Andres</div>
                <div class="chat-time">7:04</div>
                <div class="message">Este es un mensaje</div>
            </div>
        </div>
        <div class="chat">
            <div class="profile-contact-pic">
                <img src="https://lh6.googleusercontent.com/-SKWblRH4aq8/AAAAAAAAAAI/AAAAAAAAACM/9GiXxTqnLys/photo.jpg" alt="">
            </div>
            <div class="contact-chat">
                    <div class="contact-name">Fulgencia</div>
                    <div class="chat-time">7:04</div>
                    <div class="message">Este es un mensaje</div>
            </div>
        </div>
        <div class="chat">
                <div class="profile-contact-pic">
                    <img src="https://lh6.googleusercontent.com/-SKWblRH4aq8/AAAAAAAAAAI/AAAAAAAAACM/9GiXxTqnLys/photo.jpg" alt="">
                </div>
                <div class="contact-chat">
                        <div class="contact-name">Fulgencia</div>
                        <div class="chat-time">7:04</div>
                        <div class="message">Este es un mensaje</div>
                </div>
            </div>
           
    </div>
</div>
