<div class="contacts-container">
    <div class="head-info">
        <span class="profile-user-pic">
            <img [src]="user.photoURL" alt="">
        </span>
        <span>{{user.name}}</span>
        
    </div>
    <div class="contacts-list">
        <ng-container *ngFor = "let contact of contacts">
        <div class="chat" *ngIf = "contact.id != user.id" >
            <div class="profile-contact-pic">
                <img [src]="contact.photoURL" >
            </div>
            <div class="contact-chat" [id]="contact.id" (click) = "onSelectChat($event)">
                <div class="contact-name" [id]="contact.id">{{ contact.name }}</div>
                <div class="chat-time" [id]="contact.id">18:45</div>
                <div class="message" [id]="contact.id">Este es un mensaje</div>
            </div>
        </div>
    </ng-container>
    </div>
</div>
