.contacts-container{
    height: 100%; 
    
}

.head-info{
    width: 100%;
    height: 60px;
    background-color: #eee;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.08)
}
.profile-user-pic img{
    width: 40px;
    height: 40px;
    border-radius: 20px
}
.chat{
    height: 72px;
    width: 100%;
    :hover{
        background-color:  #f4f5f5
    }      
}
.profile-contact-pic img{
    height: 52px;
    width: 52px;
    margin: 10px;
    float: left;
    border-radius: 26px;
}
.contact-chat{
    border-bottom: 1px #f2f2f2 solid;
    height: 100%;
    width: calc(100% - 72px);
    float: left;
}
.contact-name{
    margin-top: 20px;
    padding-left: 20px;
    float: left;
    width: 80%;
    font-size: 16px;
}
.chat-time{
    margin-top: 20px;
    float: left;
    width: 20px;
    color: rgba(0,0,0,0.4);
    font-size: 12px
}
.message{
    clear: both;
    color: rgba(0,0,0,0.6);
    font-size: 13px;
    padding-left: 20px
}