<div class="chat-area-content">
    <div class="head-info-user">
        <span class="profile-user-chat-pic">
            <img src="https://lh6.googleusercontent.com/-SKWblRH4aq8/AAAAAAAAAAI/AAAAAAAAACM/9GiXxTqnLys/photo.jpg" alt="">
        </span>
        <span class="contact-name-chat">Raoul</span>
    </div>
    <div class="chat-field">
        <div class="messages-field">
            
        </div>
        <div class="send-message-field">            
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="message" id="message" placeholder="Type your message">
                    </div>
                    <div class="col-md-1">   
                         <button class="btn"><i class="fa fa-microphone"></i></button>                    
                    </div>                    
                </div>
            
        </div>
    </div>
</div>