<div class="head-info-user">
    <span class="profile-user-chat-pic">
        <img [src]="user.photoURL" alt="" class="rounded-circle">
    </span>
    <span class="contact-name-chat">{{ user.name }}</span>
    <span class="logout">
        <button class="btn " (click)="onLogout()">
            <i class="fa fa-sign-out"></i>Sign-out</button>
    </span>
</div>
<div class="chat-field">
    <div class="messages-field">
        <ng-container *ngFor="let message of messages">
            <div class="message-container">
                <div *ngIf="message.sentBy != user.id" class="message-me">
                    {{ message.text }}
                </div>
                <div *ngIf="message.sentBy == user.id" class="message-other">
                    {{ message.text }}
                </div>
            </div>
        </ng-container>
    </div>
</div>