<div class="head-info-user">
    <span class="profile-user-chat-pic">
        <img [src]="user.photoURL" alt="" class="rounded-circle">
    </span>
    <span class="contact-name-chat">{{ user.name }}</span>
    <span class="logout"><button class="btn "  (click)="onLogout()"><i class="fa fa-sign-out"></i>Sign-out</button></span>
</div>
<div class="chat-field">
    <div class="messages-field">
        
            <div *ngFor = "let message of messages">{{ message.text }}</div>
        
    </div>
    
</div>